/* -- Custom image background -- */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5)), url('../assets/office.jpg');
}

/* Background Color - Green (navbar) */
.bg-green {
    color: white;
    background-image: linear-gradient(to right, #0BDA51, #2AAA8A);
}

.btn-green {
    color: #fff;
    background-image: linear-gradient(to right, #0BDA51, #2AAA8A);
}
.btn-green:hover {
    color: #fff;
    background-color: #0b5ed7;
}

.menu-button {
    color: white;
    text-decoration: none;
}

.menu-setting {
    border: 2px solid white;
}

.icon {
    width:7rem;
    height: auto;
}

